@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<input type="text" @bind="Values">
<Dice DiceValues="@(DiceValues)"></Dice>
<SurveyPrompt Title="How is Blazor working for you?"/>
@code {
  public string? Values { get; set; } = "1 2 3 4 5 6";

  public List<DiceValue> DiceValues
  {
    get
    {
      return Values?.Split(' ')?.Select(v =>
      {
        var parsed = DiceValue.TryParse(v, out DiceValue value);
        return parsed ? value : DiceValue.One;
      }).ToList();
    }
  }

}