@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome!</h1>

Roll the dice and don't get Greedy!.
  <div class="row">

    <div class="col-2">
      <input class="form-control d-inline" type="text" @bind="Values">
      <input class="form-control btn btn-primary d-inline" type="button" @onclick="Roll" value="Roll"></input>
    </div>
  </div>
<Dice DiceValues="@(DiceValues)"></Dice>
@* <SurveyPrompt Title="How is Blazor working for you?"/> *@

@code {
  private string? Values { get; set; } = "1 2 3 4 5 6";

  private List<DiceValue> DiceValues => Values?.Split(' ')?.Select(v =>
  {
    var parsed = DiceValue.TryParse(v, out DiceValue value);
    return parsed ? value : DiceValue.One;
  }).ToList();

  private void Roll() {
    Values = string.Empty;
    var rnd = new Random();
    for (var die = 1; die <= 6; die++)
    {
      Values += $"{(rnd.Next(1, 6))} ";
    }
    Values = Values.Trim();
  }

}