<h3>Dice</h3>

<DragSurface>
  @if (DiceValues != null)
  {
    for (var index = 1; index <= DiceValues.Count; index++)
    {
      var value = DiceValues[index-1];
      
      <Draggable 
        InitialPosition="@(
          (250 + 100 * index, index % 3 * 100 + 150))">
        <Die @key="index" DiceValue=@value Size="50"></Die>
      </Draggable>
    }
  }
</DragSurface>