<h3>Dice</h3>

<div style="display: flex; flex-wrap: wrap">
  @if (DiceValues != null)
  {
    for (var index = 0; index < DiceValues.Count; index++)
    {
      var value = DiceValues[index];
      <Die @key="index" DiceValue=@value Size="50"></Die>
    }
  }
</div>