<div class="drag-surface" @onmousemove="HandleMouseMove">

  <CascadingValue Value="@_position">
    @ChildContent
  </CascadingValue>
</div>

@code {

  [Parameter]
  public RenderFragment? ChildContent { get; set; }

  [Inject]
  public ILogger<Die> Logger { get; set; }

  private Position _position = (0, 0);

  private void HandleMouseMove(MouseEventArgs e) {
    Logger.LogInformation($"Dragging: {e.ClientX}, {e.ClientY}");

    _position = (e.ClientX, e.ClientY);
    Logger.LogInformation(nameof(HandleMouseMove));
  }

}